@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Roboto:wght@400;700;900&display=swap');

html {
  padding: 0px;
  margin: 0px;
}

video {
  /** Simulationg background-size: cover */
  object-fit: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}
.video-wrapper {
  /* Telling our absolute positioned video to
  be relative to this element */
  position: relative;

  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  /* Will not allow the video to overflow the
  container */
  overflow: hidden;

  /* Centering the container's content vertically
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: normal;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #2A2345;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #7067CF;
}

.img-rounded {
  border-radius: 50%;
}

.btn-link {
  background-color: #7067CF;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
}
.btn-link:hover {
  background-color: #330C2F;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

.card {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 24px;
  margin: 16px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}

#intro p {
  padding-bottom: 16px;
}

#footer ul {
  padding: 0px
}

#footer li {
  list-style: none;
  display: inline-block;
}

#footer i {
  font-size: 40px;
  margin: 0 16px;
  opacity: 0.3;
}
#footer i:hover{
  opacity: 1;
}

@media (max-width: 720px) {
  body {
    background-image: none;
    background-color: rgb(240, 240, 240);
  }
  p, .btn-link {
    font-size: 1.4em;
  }
  #footer i {
    opacity: 1;
  }
  img {
    width: 33%;
  }

}
